# Ignore all files in ANY directory named "ARCHIVE" or "BACKUP" or "EXTRAS"
ARCHIVE/
BACKUP/
EXTRAS/
__pycache__/

# Ignore all Photoshop files, batch files, test files, and pyc files
*.psd
*.bat
test*
*.pyc